.main-layout {
  min-height: 100vh;
  width: 100%;
  display: block;

}

/* HEADER */
.main-header {
  padding: 0 40px;
}

/* MENU */
.main-menu {
  background: transparent;
}


.main-content {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent;
}

/* FOOTER */
.main-footer {
  text-align: center;
  background: radial-gradient(circle at top,
      #3a0ca3,
      #240046,
      #10002b);
  color: #888;
}